body {
	direction: rtl;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	background: green; /* #fff0f0; */
}

#invitation {
	width: 520px;
}

@media only screen and (max-width: 560px) {
body {
background: #abd2345;
}
	#invitation {
		width: 500px;
	}

	.column {
		width: 500px;
	}
}

input {
	text-align: center;
	border: 1px solid #33dddd; /* #ccc; */
	font-weight: bold;
	font-size: 20px;
}

.column {
	width: 250px;
	margin: 5px;
	padding: 5px;
	white-space: nowrap;
	display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* margin: 0; */
	-webkit-appearance: none;
}

input[type="tel"],
input[type="text"] {
	width: 240px;
}

input[type="number"] {
	/* margin: 0; */
	-moz-appearance: textfield;
	width: 40px;
}

/* input[type="submit"] {
	background-color: #33dddd;
	border-radius: 5px;
} */

.button_minus {
	background-color: #ffc4c4;
	margin-left: -1px;
	width: 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.button_plus {
	background-color: #bceabc;
	margin-right: -1px;
	width: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
